

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

table tr {
	border: 1px solid #aaaaaa;
}

table tbody tr:nth-child(even) {
	background-color: #E6E5FF;
}

table tbody tr:hover {
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	vertical-align: middle;
	text-align: center;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
	}

table th {
	background: #034589;
	color: #ffffff;
	text-align: center;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
}

.table-container tfoot {
	background: #948FFF;
	color: #ffffff;
	text-align: center;
}

.table-container tfoot td {
	font-weight: bold;
	text-align: center;
}
